


--danube {
    color: hsl(203, 49%, 64%);
};

--mine-shaft--light {
    color: #353535;
};

--mine-shaft {
    color: #1D1D1B;
}

--tundora {
    color: #4A4A4A;
};

--jelly-bean {
    color: #25809F
}

