

html {
    font-family: Inter, sans-serif;
    color: antiquewhite;
    
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    width: 86vw;
}


body {
    width: 96vb;
    padding-inline-start: 2rem;
    margin-inline: 2rem;
	margin-block: 1rem;
    background: #103541;
    line-height: 1.16;
}

ul {
	margin: 1rem 0;
	padding: 0;
}

li {
	padding-inline-start: 0.7ch;
	margin-inline-start: -0.7ch;
}

.horizontal {
    writing-mode: horizontal-tb;
    width: 92vi; /* Same as 10vw */
  }
  
.vertical {
    writing-mode: vertical-lr;
    height: 96vi; /* Same as 10vh */
}







