h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    margin: 1rem, auto;
}

h1[class="center"] {
    text-align: center;
}

ul {
	margin: 0rem;
	padding: 1rem, 0;
}

li {
	padding-inline-start: 1rem;
	margin-inline-start: .2rem;
}
li::marker {
    content: '*';
    font-size: .76em;
  }

.view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
    

.horizontal {
    writing-mode: horizontal-tb;
    width: 100%; /* Same as 10vw */
  }
  
.vertical {
    writing-mode: vertical-lr;
    height: 96vi; /* Same as 10vh */
}



@keyframes appear { 
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    
}

.animate-this {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}









