---

import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Blocks from '../components/dev/Blocks.astro';
import Button from '../components/dev/Button.astro';
//import { isLabeledStatement } from "typescript";


---

<BaseLayout title="A Future Landing Page">
	<div>
		<h1>I like staying with you, we are good together</h1>
		<p class="horizontal">Which direction will this go?</p>
	</div>

	<Container />

	<Blocks />

</BaseLayout>
