---

import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="A Future Landing Page">
    <h1>We are now viewing the Landing Page, more.</h1>
	<p class="horizontal">Which direction will this go?</p>

	<Container />

</BaseLayout>
