---



---

<div class="card">
    <h1>I'm in a card.</h1>
</div>



<style>
.card {
    display: flex;
    width: var(--Tailwind-Sizing-18rem, 288px);
    height: 290px;
    padding: 0px 1px 25px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-color: blue;
    border-inline-start-width: .1em;
}

</style>