---
import '../../styles/box-model.css'
import imgReference from '../../assets/don-techstars-education-candid-photo.png';


---

<div class="row_base">
    <div class="image-box">
        <img src={imgReference.src} alt="Don Burton"/>
    </div>
</div>

<style>


</style>

