---
import '../styles/base.css';
import '../styles/global.css';

const foregroundColor = "rgb(221 243 228)";
---
<section>
<div class="wrapper">
    <h1>
        <slot />
    </h1>
</div>
</section>

<style define:vars={{ foregroundColor }}>
    .wrapper {
        display: inline-block;
        flex-direction: column;
        width: 86%;
        padding: 1rem;
        position: relative;
        margin: 90rem, 5rem, 5rem, 5rem;
        border: 3px, dotted, white;
    }

    h1 {
      color: var(--foregroundColor);
    }


    .entrance-animation {
        animation: fade-in 1s ease-in delay 2s;

    }

    @keyframes fade-in {
    0%{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    100%{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    };
</style>