---

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const title = "Landing Page"

---

<BaseLayout title={title}>
    <h5>{title}</h5>

    <slot />

</BaseLayout>